*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "roboto", sans-serif;
  font-size: 1.6rem;
}

.d-none {
  position: absolute;
  left: -5000px;
}

.only-mobile {
  display: none !important;
}

.only-desktop {
  display: none !important;
}

nav {
  margin: 0 auto;
  max-width: 72rem;
  padding: 1rem 2.7rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: nowrap;
  position: fixed;
  top: 0;
  width: 100%;
}
nav .logo-container {
  font-family: "Montserrat", sans-serif;
  letter-spacing: -0.165em;
  font-size: 3.5rem;
  font-size: 3rem;
}
nav .hamburguer-icon {
  cursor: pointer;
  padding-top: 0.5rem;
  padding-right: 0.5rem;
  border: none;
  background: none;
  position: relative;
}
nav .hamburguer-icon__tap {
  cursor: pointer;
  background: transparent;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 3.5rem;
  height: 3rem;
}
nav .hamburguer-icon__line {
  display: block;
  width: 2.5rem;
  height: 0.3rem;
  background: #000;
  position: relative;
}
nav .hamburguer-icon__line::before {
  content: "";
  display: block;
  position: absolute;
  width: 2.5rem;
  height: 0.3rem;
  background: #000;
  top: 0.8rem;
}
nav .hamburguer-icon__line::after {
  content: "";
  display: block;
  position: absolute;
  width: 2.5rem;
  height: 0.3rem;
  background: #000;
  top: 1.6rem;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
  min-height: 100vh;
  max-width: 72rem;
  margin: 0 auto;
  padding: 8rem 2.7rem;
}

.books-index-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  padding-bottom: 4.4rem;
  border-radius: 25px;
  width: 100%;
  background: #ddd;
  position: relative;
}

.main-title {
  width: 100%;
  text-align: center;
  font-weight: bold;
  padding: 2.1rem 0;
  background: #ccc;
  border-radius: 25px;
  font-size: 2.4rem;
  margin-bottom: 3.3rem;
}

.books-index {
  width: 100%;
  border: none;
  padding: 0 1.5rem;
}
.books-index__item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  flex-wrap: nowrap;
  cursor: pointer;
  background: #ebebeb;
  margin-bottom: 3.4rem;
  border-radius: 1.2rem;
  position: relative;
}
.books-index__item:last-child {
  margin-bottom: 0;
}
.books-index__remove-btn {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  border: none;
  margin: 0;
  border-radius: 1.2rem;
}
.books-index__remove-btn .fa-trash-alt {
  font-size: 2rem;
  padding: 0 1.5rem;
}
.books-index__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  font-style: normal;
  font-weight: 300;
  font-size: 1.2rem;
  padding: 0.7rem 0;
}
.books-index__title span {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.9rem;
}

.add-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  border: none;
  border-radius: 50%;
  width: 4.4rem;
  height: 4.4rem;
  position: absolute;
  bottom: -3.5rem;
  background: #000;
}
.add-button__cross-icon {
  height: 0.4rem;
  width: 2.2rem;
  background: #fff;
  position: relative;
}
.add-button__cross-icon::before {
  content: "";
  display: block;
  position: absolute;
  height: 0.4rem;
  width: 2.2rem;
  background: #fff;
  transform: rotate(90deg);
}

.books-index-hr {
  border: 0.1rem solid black;
  margin-bottom: 3rem;
  width: 50%;
}

.form-add {
  width: 100%;
  padding: 0 8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
}
.form-add__title {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  width: 100%;
  text-align: center;
}
.form-add__input {
  margin-bottom: 1rem;
  width: 100%;
}
.form-add__button {
  align-self: flex-end;
}

/*# sourceMappingURL=main.css.map */
